In [1]:
#Wczytanie zbioru danych z wykorzystaniem biblioteki pandas
import pandas as pd

dataset = pd.read_csv('covtype.data', header=None)
dataset

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3

In [2]:
#Przedstawienie informacji o zbiorze danych, liczba próbek, typ wartości poszczególnych cech
#Dodatkowo jak widać w zbiorze nie ma brakujących wartości

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581012 entries, 0 to 581011
Data columns (total 55 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       581012 non-null  int64
 1   1       581012 non-null  int64
 2   2       581012 non-null  int64
 3   3       581012 non-null  int64
 4   4       581012 non-null  int64
 5   5       581012 non-null  int64
 6   6       581012 non-null  int64
 7   7       581012 non-null  int64
 8   8       581012 non-null  int64
 9   9       581012 non-null  int64
 10  10      581012 non-null  int64
 11  11      581012 non-null  int64
 12  12      581012 non-null  int64
 13  13      581012 non-null  int64
 14  14      581012 non-null  int64
 15  15      581012 non-null  int64
 16  16      581012 non-null  int64
 17  17      581012 non-null  int64
 18  18      581012 non-null  int64
 19  19      581012 non-null  int64
 20  20      581012 non-null  int64
 21  21      581012 non-null  int64
 22  22      581012 non-null  int64
 23  23      581012 non-null  int64
 24  24      581012 non-null  int64
 25  25      581012 non-null  int64
 26  26      581012 non-null  int64
 27  27      581012 non-null  int64
 28  28      581012 non-null  int64
 29  29      581012 non-null  int64
 30  30      581012 non-null  int64
 31  31      581012 non-null  int64
 32  32      581012 non-null  int64
 33  33      581012 non-null  int64
 34  34      581012 non-null  int64
 35  35      581012 non-null  int64
 36  36      581012 non-null  int64
 37  37      581012 non-null  int64
 38  38      581012 non-null  int64
 39  39      581012 non-null  int64
 40  40      581012 non-null  int64
 41  41      581012 non-null  int64
 42  42      581012 non-null  int64
 43  43      581012 non-null  int64
 44  44      581012 non-null  int64
 45  45      581012 non-null  int64
 46  46      581012 non-null  int64
 47  47      581012 non-null  int64
 48  48      581012 non-null  int64
 49  49      581012 non-null  int64
 50  50      581012 non-null  int64
 51  51      581012 non-null  int64
 52  52      581012 non-null  int64
 53  53      581012 non-null  int64
 54  54      581012 non-null  int64
dtypes: int64(55)
memory usage: 243.8 MB

In [3]:
#Szczegółowe informacje odnośnie zbioru danych, m.in.wartości maksymalne w poszczególnych kolumnach
#oraz średnie i odchylenia standardowe - informacje istotne w kontekście dalszej analizy zbioru
#Dodatkowo możemy zauważyć że dane nie są znormalizowane, w związku z tym należy ją wykonać
#(najlepiej przed podziałem na zbiór testowy i treningowy)

dataset.describe()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
count,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,...,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000
mean,2959.365301,155.656807,14.103704,269.428217,46.418855,2350.146611,212.146049,223.318716,142.528263,1980.291226,...,0.090392,0.077716,0.002773,0.003255,0.000205,0.000513,0.026803,0.023762,0.015060,2.051471
std,279.984734,111.913721,7.488242,212.549356,58.295232,1559.254870,26.769889,19.768697,38.274529,1324.195210,...,0.286743,0.267725,0.052584,0.056957,0.014310,0.022641,0.161508,0.152307,0.121791,1.396504
min,1859.000000,0.000000,0.000000,0.000000,-173.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2809.000000,58.000000,9.000000,108.000000,7.000000,1106.000000,198.000000,213.000000,119.000000,1024.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2996.000000,127.000000,13.000000,218.000000,30.000000,1997.000000,218.000000,226.000000,143.000000,1710.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,3163.000000,260.000000,18.000000,384.000000,69.000000,3328.000000,231.000000,237.000000,168.000000,2550.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,3858.000000,360.000000,66.000000,1397.000000,601.000000,7117.000000,254.000000,254.000000,254.000000,7173.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000

In [4]:
# W zbiorze posiadamy 7 klas reprezentowanych przez próbki
# Poniżej przedstawiona została liczba próbek reprezentujących poszczególne klasy, w zbiorze danych w kolejności malejącej

dataset[54].value_counts()

2    283301
1    211840
3     35754
7     20510
6     17367
5      9493
4      2747
Name: 54, dtype: int64

In [5]:
#Ekstrakcja kolumn do dwóch zmiennych
#y - klasa do której należy określona próbka
#X - zbiór cech reprezentujacych określoną klasę

y = dataset.iloc[:,54]
X = dataset.iloc[:,:54]

In [6]:
#Wykonanie normalizacji danych w zbiorze z wykorzystaniem biblioteki sklearn

from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(X)
X = pd.DataFrame(x_scaled)

In [7]:
#Podział zbioru danych na zbiór treningowy oraz testowy w stosunku 80%-20%

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(464809, 54) (464809,)
(116203, 54) (116203,)